.keywordstyle{color:red;background-color:yellow;font:normal normal bolder 18pt Arial}
.listkeywordstyle{color:red;}
.cachestyle{color:red;font:normal normal bolder 14pt Arial}
.resultcount{text-align:right;background-color:#DEDFDE;border-top:2px solid #000000;border-bottom:2px solid #000000;}
.resulttitle{font:normal normal normal 14pt Arial}
.resultcontent{font:normal normal normal 12pt Arial}
.resulthref{color:#008866;font:normal normal normal 10pt Arial}